<h1>Income#new</h1>
<p>Find me in app/views/income/new.html.erb</p>

<%= form_for @income, url: {action: "create"} do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year, value: DateTime.now.year %>
  <%= f.submit "Create" %>
<% end %>
